{% extends 'base.html' %}
{% block content %}
    <main class="main-signup">
        <h2>Inscrivez-vous</h2>
        {% if form.errors %}
            {{ form.errors }}
        {% endif %}
        <form method="post" class="signup-form">
            {{ form.as_p }}
            {% csrf_token %}
            <div class="signup-form_btngrp">
                <a href="{% url 'login' %}" target="_self"
                   class="signup_cancel_link">Annuler</a>
                <button type="submit" class="btn-signup">S'inscrire</button>
            </div>
        </form>
    </main>
{% endblock content %}