@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
:root {
    --background-color: #E4C59E;
    --font-primary: #000000;
    --font-secondary: #FFFFFF;
    --color-primary: #AF8260;
    --color-secondary: #803D3B;
    --color-tertiary: #322C2B;
    --color-error: #880707;
}

* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', Arial, sans-serif;
}

body {
    max-width: 456px;
    padding: 24px;
    font-size: 1.2rem;
    background-color: var(--background-color);
    color: var(--font-primary)
}

header {
    width: 100%;
    margin-bottom: 1.5rem;
    .container-header {
        background-color: var(--color-tertiary);
        color: var(--font-secondary);
        border-radius: 10px 10px 0 0;
        border-bottom: 1px solid var(--color-primary);
        div {
            display: grid;
            grid-template-columns: 100px auto;
            grid-gap: 2rem;
            align-items: center;
            justify-items: start;
            border-bottom: 1px solid var(--font-secondary);
            img {
                width: 120px;
                height: 120px;
            }
        }
        nav {
            width: 100%;
            background-color: var(--color-primary);
            padding: 1rem;
            ul {
                padding-left: 1rem;
                list-style-type: none;
                li {
                    a {
                        text-decoration: none;
                        color: var(--font-primary);
                    }
                    a:hover {
                        border-bottom: 1px solid var(--font-primary);
                    }
                }
            }
        }
    }
    img {
        width: 100%;
        height: 300px;
        object-fit: cover;
        object-position: center;
        border-radius: 0 0 10px 10px;
    }
}

h1 {
    font-size: 3rem;
    margin: 1rem 0 1rem 0;
}

h2 {
    font-size: 2rem;
    text-align: center;
    padding-bottom: 1.5rem;
}

.main-signup,
.main-login,
.main-flux,
.main_tickets
.main_review {
    margin-top: 0.5em;
}

.errorlist {
    list-style-type: none;
    margin: 1rem 0;
    text-align: left;
    color: var(--font-secondary);
    background-color: var(--color-secondary);
    padding: 1rem;
    border-radius: 5px;
}

.section-register {
    background-color: var(--color-primary);
    border-radius: 10px;
    padding: 1.25rem 1.25rem 1.75rem 1.25rem;
    text-align: center;
    margin-bottom: 1rem;
}

.section-connexion {
    text-align: center;
    background-color: var(--color-primary);
    border-radius: 10px;
    padding: 1.25rem;
    height: fit-content;
    margin-bottom: 1rem;
}

.login-form,
.signup-form,
.ticket-form,
.review-form{
    p {
        margin-bottom: 1rem;
        label {
            display: inline-flex;
            width: 100%;
            margin-right: 0;
            margin-bottom: 5px;
            font-size: 1.2rem;
        }
        input,
        textarea {
            width: 100%;
            padding: 0.25rem 0.5rem;
            border: none;
            font-size: 1.2rem;
        }
        #id_review-rating {
            display: grid;
            grid-template-columns: repeat(6, 1fr);
        }
    }
}

.review-form {
    fieldset {
        border: 1px solid var(--color-tertiary);
        margin-bottom: 1rem;
        legend {
            font-weight: bold;
        }
        p {
            margin-bottom: 1rem;
            label {
                display: inline-flex;
                width: 100%;
                margin-right: 0;
                margin-bottom: 5px;
                font-size: 1.2rem;
            }
            input[type="text"],
            input[type="file"],
            textarea {
                width: 100%;
                padding: 0.25rem 0.5rem;
                border: none;
                font-size: 1.2rem;
            }
        }
    }
}

#id_review-rating,
#id_rating{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    font-size: 1.2rem;
}

.signup-form {
    ul {
        list-style-type: square;
        font-size: 0.9rem;
        padding-left: 24px;
        li {
            text-align: justify;
        }
    }
}

.signup-link,
.signup_cancel_link,
.update_link,
.cancel-link {
    text-decoration: none;
    cursor: pointer;
    background-color: var(--color-tertiary);
    padding: 0.5rem 1rem;
    border-radius: 10px;
    color: var(--font-secondary);
}

.btn-connexion,
.btn-signup,
.btn-send,
.btn-flux-create,
.btn-delete {
    margin-top: 1rem;
    border: none;
    font-size: 1.2rem;
    background-color: var(--color-tertiary);
    padding: 0.5rem 1rem;
    border-radius: 10px;
    color: var(--font-secondary);
    cursor: pointer;
}

.bloc-button {
    margin: 1.5rem 0 1rem 0;
    .create_link {
        text-decoration: none;
        cursor: pointer;
        background-color: var(--color-tertiary);
        padding: 0.5rem 1rem;
        border-radius: 10px;
        color: var(--font-secondary);
    }
}

.signup-form {
    padding: 0 12px;
}

.signup-form_btngrp {
    width: 100%;
    text-align: center;
}

.ticket-form {
    textarea {
        width: 100%;
        font-size: 1.2rem;
    }
    .form-image{
        width: 100%;
        display: grid;
        grid-template-columns: 200px auto;
    }
}

.helptext {
    font-size: 0.9rem;
}

.time_txt {
    padding: 1rem 0;
    font-size: 1rem;
}

.main-flux,
.main_tickets {
    margin-top: 3.5rem;
    .block-buttons {
        width: 100%;
        ul {
            width: 100%;
            list-style-type: none;
            padding-left: 0;
            li {
                border: none;
                font-size: 1.2rem;
                color: var(--font-secondary);
                cursor: pointer;
                margin-bottom: 1.5rem;
                text-align: center;
                a {
                    background-color: var(--color-tertiary);
                    padding: 0.5rem 1rem;
                    text-decoration: none;
                    color: var(--font-secondary);
                    border-radius: 10px;
                }
                a:hover {
                    background-color: var(--color-secondary);
                    color: var(--font-secondary);
                }
            }
        }
    }
    .block-articles {
        margin-top: 2rem;
        article {
            margin-bottom: 1rem;
            padding: 1rem;
            border: 1px solid var(--color-tertiary);
            background-color: var(--font-secondary);
            border-radius: 5px;
            .bloc-description {
                .review_headline {
                    text-align: justify;
                    margin: 1.25rem 0;
                    padding: 0;
                    p:first-child {
                        font-size: 1.5rem;
                    }
                }
                p:first-child {
                    font-size: 1.25rem;
                    padding: 1rem 0;
                }
                img {
                    margin-top: 1rem;
                    width: 100%;
                }
            }
        }
    }
}

.bloc-ticket {
    width: 100%;
    margin: 1rem 0;
    border: 1px solid var(--color-tertiary);
    padding: 1rem;
    text-align: justify;
    img {
        width: 100%;
        padding: 1rem 0;
    }
}

.ticket_title {
    font-size: 1.25rem;
    padding: 1rem 0;
}

.bloc-rating {
   img {
        width: 32px;
        padding: 0;
    }
}

.main_tickets {
    .block-articles {
        margin-top: 1rem;
        p {
            padding:1rem 0;
        }
    }
    .btn-grp-action {
        text-align: right;
        margin-top: 1rem;
    }
}

.main-confirm {
    margin-top: 2rem;
    text-align: center;
}

/* Tablet style (768px and more*/
@media screen and (min-width: 768px) {
    body {
        margin: 0 auto;
        max-width: 788px;
    }

    header {
        .container-header {
            text-align: right;
            nav {
                ul {
                    display: inline-flex;
                    gap: 2rem;
                    padding-right: 1rem;
                }
            }

        }
    }

    .main-login {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1rem;
        border: none;
    }

    .section-register, .section-connexion {
        height: 100%;
        border-radius: 5px;
    }

    .login-form {
        p {
            text-align: left;
            input {
                width: 300px;
            }
        }
    }

    .section-register {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .signup-link {
            width: fit-content;
        }
    }

    .section-connexion {
        padding: 1.25rem 2rem;
    }

    .btn-connexion {
        right: 0;
        cursor: pointer;
    }

    .signup-form {
        padding: 0 48px;
    }

    .time_txt {
        padding:0;
    }

    .main-flux,
    .main_tickets {
        .block-buttons {
            width: 100%;
            height: fit-content;
            display: flex;
            justify-content: center;
            ul {
                width: fit-content;
                display: grid;
                grid-template-columns: repeat(3, auto);
                grid-gap: 2rem;
            }
        }
        .block-articles {
            display: grid;
            grid-template-rows: auto;
            article {
                .article_header {
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: 1.75rem;
                    align-items: center;
                }
                .bloc-description {
                    display: grid;
                    grid-template-columns: auto fit-content(100%);
                    grid-gap: 1.5rem;
                    align-items: center;
                    p {
                        text-align: justify;
                    }
                    img {
                        width: 250px;
                    }
                }
            }

        }
    }

    .bloc-ticket-detail {
        width: 100%;
        border: 1px solid var(--color-tertiary);
        padding: 1rem;
        img {
            padding-top: 1rem;
            width: 100%;
        }
    }

    .bloc-ticket {
        div {
            display: grid;
            grid-template-columns: auto fit-content(100%);
            grid-gap: 1.25rem;
            align-items: center;
        }
    }

    .bloc-review {
        margin-top: 1rem;
        h3 {
            padding-bottom: 1rem;
        }
    }
}


/* Desktop style (1024px and more*/
@media screen and (min-width: 1024px) {
    body {
        max-width: 1054px;
        margin: 0 auto;
    }

    .login-form {
        p {
            input {
                width: 100%;
            }
        }
    }

    .section-connexion {
        padding: 1.25rem 3.5rem;
    }

    .signup-form {
        padding: 0 200px;
    }
}