@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
:root {
    --background-color: #E4C59E;
    --font-primary: #000000;
    --font-secondary: #FFFFFF;
    --color-primary: #AF8260;
    --color-secondary: #803D3B;
    --color-tertiary: #322C2B;
    --color-error: #880707;
}

* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', Arial, sans-serif;
}

body {
    max-width: 456px;
    padding: 24px;
    font-size: 1.2rem;
    background-color: var(--background-color);
    color: var(--font-primary)
}

header {
    width: 100%;
    margin-bottom: 1.5rem;
    background-color: var(--color-tertiary);
    color: var(--font-secondary);
    border-radius: 10px 10px 0 0;
    border-bottom: 1px solid var(--color-primary);
    img {
        width: 100%;
        height: 300px;
        object-fit: cover;
        object-position: center;
        border-radius: 0 0 10px 10px;
    }
}

.header-logo {
    display: grid;
    grid-template-columns: 100px auto;
    grid-gap: 2rem;
    align-items: center;
    justify-items: start;
    border-bottom: 1px solid var(--font-secondary);
    img {
        width: 120px;
        height: 120px;
    }
}

nav {
    width: 100%;
    background-color: var(--color-primary);
    padding: 1rem;
    ul {
        padding-left: 1rem;
        list-style-type: none;
        li {
            a {
                text-decoration: none;
                color: var(--font-primary);
            }
            a:hover {
                font-weight: bold;
                border-bottom: 2px solid var(--font-primary);
            }
        }
    }
}

h1 {
    font-size: 3rem;
    margin: 1rem 0 1rem 0;
}

h2 {
    font-size: 2rem;
    text-align: center;
    padding-bottom: 1.5rem;
}

h3 {
    margin-top: 2rem;
    font-size: 1.75rem;
    padding-bottom: 1.5rem;
}

.bloc-main {
    margin-top: 0.5em;
}

.main-confirm {
    margin-top: 1.5rem;
    text-align: center;
}

.errorlist {
    list-style-type: none;
    margin: 1rem 0;
    text-align: left;
    color: var(--font-secondary);
    background-color: var(--color-secondary);
    padding: 0.75rem;
    border-radius: 5px;
}

.section-register {
    background-color: var(--color-primary);
    border-radius: 10px;
    padding: 1.25rem 1.25rem 1.75rem 1.25rem;
    text-align: center;
    margin-bottom: 1rem;
}

.section-connexion {
    text-align: center;
    background-color: var(--color-primary);
    border-radius: 10px;
    padding: 1.25rem;
    height: fit-content;
    margin-bottom: 1rem;
}

.bloc-form {
    p {
        margin-bottom: 1rem;
        label {
            display: inline-flex;
            width: 100%;
            margin-right: 0;
            margin-bottom: 5px;
            font-size: 1.2rem;
        }
        input,
        textarea {
            width: 100%;
            padding: 0.25rem 0.5rem;
            border: none;
            font-size: 1.2rem;
        }
    }
}

.signup-form {
    padding: 0 12px;
    ul {
        list-style-type: square;
        font-size: 0.9rem;
        padding-left: 24px;
        li {
            text-align: justify;
        }
    }
}

#id_review-rating {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.review-form {
    fieldset {
        border: 1px solid var(--color-tertiary);
        margin-bottom: 1rem;
        legend {
            font-weight: bold;
        }
        p {
            margin-bottom: 1rem;
            label {
                display: inline-flex;
                width: 100%;
                margin-right: 0;
                margin-bottom: 5px;
                font-size: 1.2rem;
            }
            input[type="text"],
            input[type="file"],
            textarea {
                width: 100%;
                padding: 0.25rem 0.5rem;
                border: none;
                font-size: 1.2rem;
            }
        }
    }
}

.subscription-form {
    label {
        display: inline-flex;
        width: 100%;
        margin-right: 0;
        margin-bottom: 5px;
        font-size: 1.2rem;
    }
    input {
        width: 100%;
        padding: 0.25rem 0.5rem;
        border: none;
        font-size: 1.2rem;
    }
}

#id_review-rating,
#id_rating{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    font-size: 1.2rem;
}

.btn-link-action {
    text-decoration: none;
    cursor: pointer;
    background-color: var(--color-tertiary);
    padding: 0.5rem 1rem;
    border-radius: 10px;
    color: var(--font-secondary);
}

.btn-action {
    margin-top: 1rem;
    border: none;
    font-size: 1.2rem;
    background-color: var(--color-tertiary);
    padding: 0.5rem 1rem;
    border-radius: 10px;
    color: var(--font-secondary);
    cursor: pointer;
}

.signup-form_btngrp {
    width: 100%;
    text-align: center;
}

.form-image{
    width: 100%;
    display: grid;
    grid-template-columns: 250px auto;
}

.helptext {
    font-size: 0.9rem;
}

.time_txt {
    padding: 1rem 0;
    font-size: 1rem;
}

.main-flux,
.main-posts,
.main-subscriptions {
    margin-top: 2.5rem;
}

.flux-bloc-buttons {
    width: 100%;
    ul {
        width: 100%;
        list-style-type: none;
        padding-left: 0;
        li {
            border: none;
            font-size: 1.2rem;
            color: var(--font-secondary);
            cursor: pointer;
            margin-bottom: 1.5rem;
            text-align: center;
            a {
                background-color: var(--color-tertiary);
                padding: 0.5rem 1rem;
                text-decoration: none;
                color: var(--font-secondary);
                border-radius: 10px;
            }
            a:hover {
                background-color: var(--color-secondary);
                color: var(--font-secondary);
            }
        }
    }
}

.bloc-articles {
    margin-top: 2rem;
    article {
        margin-bottom: 1rem;
        padding: 1rem;
        border: 1px solid var(--color-tertiary);
        background-color: var(--font-secondary);
        border-radius: 5px;
    }
}

.bloc-grp-desc-img {
    p:first-child {
        font-size: 1.25rem;
        padding: 1rem 0;
    }
    img {
        margin-top: 1rem;
        width: 100%;
    }
}

.review_headline {
    margin: 1.25rem 0;
    padding: 0;
    p:first-child {
        font-size: 1.5rem;
        padding-bottom: 1rem;
    }
}

.bloc-ticket-reviewed {
    width: 100%;
    margin: 1rem 0;
    border: 1px solid var(--color-tertiary);
    padding: 1rem;
    img {
        width: 100%;
        padding: 1rem 0 0.5rem 0;
    }
}

.ticket_title {
    font-size: 1.5rem;
    padding: 1rem 0;
}

.bloc-rating {
    background-color: var(--background-color);
    padding: 0.75rem 0 0.5rem 0.75rem;
    border-radius: 5px;
   img {
        width: 32px;
        padding: 0;
    }
}

.empty-posts {
    margin-top: -1rem;
    text-align: center;
    font-size: 1.5rem;
    width: 100%;
    img {
        width: 100%;
        border-radius: 10px;
    }
}

.following-list {
    list-style-type: none;
    padding: 0;
    display: grid;
    grid-template-rows: 1fr;
    grid-gap: 0.5rem;
    li {
        display: grid;
        grid-template-columns: 1fr auto;
        grid-gap: 0.5rem;
        align-items: center;
        justify-items: start;
        padding: 0 0.75rem 0.5rem 0.75rem;
        border: 1px solid var(--color-tertiary);
        background-color: var(--font-secondary);
        span {
            padding-top: 0.5rem;
        }
        .btn-action {
            margin-top: 0.5rem;
        }
    }
}

.followers-list {
    list-style-type: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0.5rem;
    align-items: center;
    li {
        padding: 0.5rem;
        border: 1px solid var(--color-tertiary);
        background-color: var(--font-secondary);
        text-align: center;
    }
}

/* Tablet style (768px and more*/
@media screen and (min-width: 768px) {
    body {
        margin: 0 auto;
        max-width: 788px;
    }

    .header-logo {
        text-align: right;
    }

    nav {
        text-align: right;
        ul {
            display: inline-flex;
            gap: 2rem;
            padding-right: 1rem;
        }
    }

    .main-login {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1rem;
        border: none;
    }

    .section-register, .section-connexion {
        height: 100%;
        border-radius: 5px;
    }

    .login-form {
        p {
            text-align: left;
            input {
                width: 300px;
            }
        }
    }

    .section-register {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .section-connexion {
        padding: 1.25rem 2rem;
    }

    .signup-form {
        padding: 0 3rem;
    }

    .time_txt {
        padding: 0;
    }

    .flux-bloc-buttons {
        width: 100%;
        height: fit-content;
        display: flex;
        justify-content: center;
        ul {
            width: fit-content;
            display: grid;
            grid-template-columns: repeat(2, auto);
            grid-gap: 2rem;
        }
    }

    .bloc-articles {
       article {
           padding: 2rem;
           .btn-grp-action {
               margin-top: 1.5rem;
           }
       }
    }

    .article_header {
        display: flex;
        justify-content: space-between;
        margin-bottom: 1.75rem;
        align-items: center;
    }

    .bloc-grp-desc-img {
        display: grid;
        grid-template-columns: auto fit-content(100%);
        grid-gap: 1.5rem;
        align-items: start;
        img {
            max-height: 300px;
            width: auto;
            object-fit: contain;
        }
    }

    .bloc-ticket-reviewed {
        background-color: var(--font-secondary);
        p:nth-child(3) { font-size:  1.5rem; }
        margin-bottom: 1.5rem;
        h3 {
            margin-top: 1rem;
        }
    }

    .bloc-review {
        margin-top: 1rem;
        h3 {
            border-bottom: 1px solid var(--color-tertiary);
            margin-bottom: 1rem;
        }
    }

    .block-search {
        padding: 0 6rem;
    }

    .subscription-form {
        display: grid;
        grid-template-columns: 150px auto 100px;
        grid-gap: 1rem;
        align-items: center;
        justify-items: center;
    }

    .btn-action {
        margin: 0;
    }

    .followers-list {
        grid-template-columns: repeat(3, 1fr);
    }
}


/* Desktop style (1024px and more*/
@media screen and (min-width: 1024px) {
    body {
        max-width: 1054px;
        margin: 0 auto;
    }

    .login-form {
        p {
            input {
                width: 100%;
            }
        }
    }

    .section-connexion {
        padding: 1.25rem 3.5rem;
    }

    .signup-form {
        padding: 0 200px;
    }


    .bloc-grp-desc-img {
        img {
            max-height: 300px;
            width: auto;
            object-fit: contain;
        }
    }
}