@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
:root {
    --background-color: #E4C59E;
    --font-primary: #000000;
    --font-secondary: #FFFFFF;
    --color-primary: #AF8260;
    --color-secondary: #803D3B;
    --color-tertiary: #322C2B;
    --color-error: #880707;
}

* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', Arial, sans-serif;
}

body {
    max-width: 456px;
    padding: 24px;
    font-size: 1.2rem;
    background-color: var(--background-color);
    color: var(--font-primary)
}

header {
    width: 100%;
    margin-bottom: 2rem;
    div {
        background-color: var(--color-tertiary);
        color: var(--font-secondary);
        border-radius: 10px 10px 0 0;
        display: grid;
        grid-template-columns: 100px auto;
        grid-gap: 2rem;
        align-items: center;
        justify-items: start;
        border-bottom: 1px solid var(--color-primary);
        img {
            width: 120px;
            height: 120px;
        }
    }
    img {
        width: 100%;
        height: 300px;
        object-fit: cover;
        object-position: center;
        border-radius: 0 0 10px 10px;
    }
}

h1 {
    font-size: 3rem;
    margin: 1rem 0 1rem 0;
}

h2 {
    font-size: 2rem;
    text-align: center;
    padding-bottom: 1.5rem;
}

.errorlist {
    list-style-type: none;
    margin: 1rem 0;
    text-align: left;
    color: var(--font-secondary);
    background-color: var(--color-secondary);
    padding: 1rem;
    border-radius: 5%;
}

.section-register {
    margin-bottom: 1rem;
    background-color: var(--color-primary);
    border-radius: 10%;
    padding: 1.25rem;
    text-align: center;
}

.section-connexion {
    text-align: center;
    margin-bottom: 1rem;
    background-color: var(--color-primary);
    border-radius: 10%;
    padding: 1.25rem;
    height: fit-content;
}

.login-form,
.signup-form{
    p {
        margin-bottom: 1rem;
        label {
            display: inline-flex;
            width: 100%;
            margin-right: 0;
            margin-bottom: 5px;
            font-size: 1.2rem;
        }
        input,
        select {
            width: 100%;
            padding: 0.25rem 0.5rem;
            border: none;
            font-size: 1.2rem;
        }
    }
}

.signup-form {
    ul {
        list-style-type: square;
        font-size: 0.9rem;
        padding-left: 24px;
        li {
            text-align: justify;
        }
    }
}

.signup-link,
.signup_cancel_link{
    text-decoration: none;
    cursor: pointer;
    background-color: var(--color-tertiary);
    padding: 0.5rem 1rem;
    border-radius: 10%;
    color: var(--font-secondary);
}

.btn-connexion,
.btn-signup {
    margin-top: 1rem;
    border: none;
    font-size: 1.2rem;
    background-color: var(--color-tertiary);
    padding: 0.5rem 1rem;
    border-radius: 10%;
    color: var(--font-secondary);
}

.signup-form {
    padding: 0 12px;
}

.signup-form_btngrp {
    width: 100%;
    text-align: center;
}

.txt-logout {
    font-size: 1.2rem;
    text-align: center;
    margin-top: 3rem;
    a {
        color: var(--color-primary)
    }
}

.helptext {
    font-size: 0.9rem;
}


/* Tablet style (768px and more*/
@media screen and (min-width: 768px) {
    body {
        margin: 0 auto;
        max-width: 788px;
    }

    .login-page {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1rem;
        border: none;
    }

    .section-register, .section-connexion {
        height: 100%;
        border-radius: 5%;
    }

    .login-form {
        p {
            text-align: left;
            input {
                width: 300px;
            }
        }
    }

    .btn-connexion {
        right: 0;
    }

    .signup-form {
        padding: 0 48px;
    }
}

/* Desktop style (1024px and more*/
@media screen and (min-width: 1024px) {
    body {
        max-width: 1054px;
        margin: 0 auto;
    }

    .login-form {
        p {
            input {
                width: 100%;
            }
        }
    }

    .signup-form {
        padding: 0 200px;
    }
}