{% extends 'base.html' %}
{% block content %}
    <main class="main_review">
        {% if form.headline.value is not None %}
            <h2>Modifier votre critique</h2>
        {% else %}
            <h2>Créer une critique</h2>
        {% endif %}
    <section class="bloc-ticket">
        <h3>Ticket</h3>
        {% if ticket.user == user %}
            <p>Vous avez demandé une critique :</p>
        {% else %}
            <p>{{ ticket.user }} a demandé une critique :</p>
        {% endif %}
        <p class="time_txt">{{ ticket.time_created|date:"H:i d F Y" }}</p>
        <p>{{ ticket.ticket }}</p>
        <div>
            <p>{{ ticket.description }}</p>
            {% if ticket.image %}
                <img src="/media/{{ ticket.image }}" alt="illustration de
{{ ticket.ticket }}">
            {% endif %}
        </div>
    </section>
    <section class="bloc-review">
        <h3>Critique</h3>
        {% if form.errors %}
            {{ form.errors }}
        {% endif %}
        <form method="post" class="review-form" class="review-form">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn-send">Envoyer</button>
        </form>
    </section>

    </main>
{% endblock content %}