{% extends 'base.html' %}
{% block content %}
    <main class="main-subscriptions">
        <h2>Suivre d'autres utilisateurs</h2>
        <section class="block-search">
            {% if messages %}
                <div class="errorlist">
                    {% for message in messages %}
                        <p> {{ message }}</p>
                    {% endfor %}
                </div>
            {% endif %}
            <form method="get" class="subscription-form">
                <label for="search">Nom d'utilisateur</label>
                <input type="text" id="search" name="search" value=
                        "{{ search_query }}" required>
                <button type="submit" class="btn-action">Suivre</button>
            </form>
        </section>
        <section>
            <h3>Liste de vos abonnements</h3>
            {% if following %}
                <ul class="following-list">
                    {% for follow in following %}
                        <li>
                            <span>{{ follow.followed_user.username }}</span>
                             <form method="post" action="
    {% url 'unfollow_user' follow.followed_user.id %}">
                                {% csrf_token %}
                                <button class="btn-action">Ne plus
                                    suivre</button>
                            </form>
                        </li>
                    {% endfor %}
                </ul>
             {% else %}
                <p> Vous ne suivez personne.</p>
            {% endif %}
        </section>
        <section>
            <h3>Liste de vos abonnés</h3>
            {% if followers %}
                <ul class="followers-list">
                    {% for follower in followers %}
                        <li>{{ follower.user.username }}</li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>Vous n'avez aucuns abonnés.</p>
            {% endif %}
        </section>
    </main>
{% endblock content %}