{% extends 'base.html' %}
{% block content %}
    <main>
        {% if form.ticket.value is not None %}
            <h2>Modifier un ticket</h2>
        {% else %}
            <h2>Créer un ticket</h2>
        {% endif %}
        {% if form.errors %}
            {{ form.errors }}
        {% endif %}
        <form method="post" class="ticket-form" enctype="multipart/form-data">
            {% csrf_token %}
            {% for field in form %}
                {% if field.name == "image" and form.instance.image %}
                    <p class="form-image">
                        <label>Image actuelle :</label><br>
                        <img src="{{ form.instance.image.url }}" alt="Image
                        actuelle" style="max-width: 200px;"><br>
                    </p>
                    <p>
                        <label>Changer l'image :</label>
                        <input type="file" name="image" id="id_image">
                    </p>
                {% else %}
                    <p>
                        {{ field.label_tag }}
                        {{ field }}
                    </p>
                {% endif %}
            {% endfor %}
            <button type="submit" class="btn-send">Envoyer</button>
        </form>
    </main>
{% endblock content %}